$dark: #333333;
$darker: #111111;
$gray: #666666;
$orange: #e13c16;
$dark_organe: #d04a2a;
$white: #ffffff;
$color_D1D0B4: #d1d0b4;
$color_F2F1E1: #f2f1e1;

// set width cho cột cho flex
@mixin col-w($width) {
  flex: 0 0 auto;
  width: $width;
  max-width: 100%;
}

@mixin col-img($padding, $object-fit) {
  position: relative;
  width: 100%;
  padding-bottom: $padding;
  overflow: hidden;

  img,
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: $object-fit;
    object-position: center;
  }
}

@mixin line-clamp($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// Custom

@mixin ratio-img($pad) {
  position: relative;
  display: block;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }

  &::before {
    content: '';
    display: block;
    padding-bottom: $pad;
  }
}

@mixin no-line {
  &:focus,
  &:active,
  &:focus-visible,
  &:visited {
    box-shadow: none;
    outline: 0;
  }
}

@mixin font($name, $weight, $size, $height) {
  font-family: $name;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin abs($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
